.clicked {
    background: rgb(153 27 27);
    color: white;
    transition:0.8s ease-in-out;
}

.droppable {
    min-height: 160px;
    min-width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
